.tabList{
	position: relative;
	text-align: center;
	cursor: pointer;
	width: 110px;
}
.tabInfo{
	position: absolute;
	top: 54px;
	left: 0px;
	z-index: 3;
	font-size: 14px;
	color: #666;
	box-shadow: 0 0 8px rgba(0, 36, 100, 0.3);
	display: none;
}
.tabInfo p{
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #fff;
	width: 110px;
	cursor: pointer;
}
.tabInfo p:hover{
	background-color: #ffda44;
}
.tabList .rotate{
	display: inline-block;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-top: 5px solid #3c404c;
	background-color: transparent;
	position: relative;
	top: 2px;
	left: 3px;
}
.tabList.active a{
	background: #fff;
	border-radius: 5px;
}
#goTop{
	display: none;
}

/*tooltip*/
#boxRight {position:fixed;bottom: 100px;right:5px;z-index:99}
.common-box-until {border:1px solid #e5e5e5;}
.common-box-until li {position:relative;background:#fff; text-align:center;cursor:pointer;z-index:9}
.common-box-until li:hover {box-shadow:0 0px 8px rgba(0,0,0,0.15);z-index:99}
.common-box-until li:hover i{border-bottom:1px solid transparent}
.common-box-until li a span {position:relative;z-index:99;display: block;padding:10px 0 5px;}
.common-box-until li i {position:relative;z-index:99;display:block;color:#333;font-size:14px;padding-bottom: 10px;overflow:hidden;line-height:16px;border-bottom: 1px solid #e5e5e5;}
.common-box-until .last-child  i {border-bottom:1px solid transparent;}
.common-box-until .box-hovered i{color:#f77a1e}
.box-bridge-left {float:left;width:150px;background:#fff;border-radius:4px;padding:10px 10px;overflow:hidden;border: 1px solid #e5e5e5;margin-top: 7px;}
.box-bridge {
	position:absolute;
	z-index:9;
	top:0;
	left:0px;
	width:170px;
	height:80px;
	opacity: 0;
	transition:all 1s;
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
}
.box-bridge dd {position:relative;padding:5px 0 0 5px;color: #666;}
.bridge-sj {
	position: relative;
	top: 34px;
	right: 1px;
	width: 7px;
	height: 12px;
	float: left;
}
.common-box-until li a{
	display: block;
	background: #fff;
	position: relative;
	z-index: 90;
	padding: 0 7px;
}
.common-box-until li a span b{
	display: inline-block;
	width: 38px;
	height: 38px;
}
.common-box-until li#releaseRequirements a span b{
	background: url('static/images/iconfont02_2.png') no-repeat center;
}
.common-box-until li#releaseRequirements:hover a span b{
	background: url('static/images/iconfont020_2.png') no-repeat center;
}
.common-box-until li#supervisionOfSecurity a span b{
	background: url('static/images/iconfont03_2.png') no-repeat center;
}
.common-box-until li#supervisionOfSecurity:hover a span b{
	background: url('static/images/iconfont030_2.png') no-repeat center;
}
.common-box-until li#suggestComplaints a span b{
	background: url('static/images/iconfont07_2.png') no-repeat center;
}
.common-box-until li#suggestComplaints:hover a span b{
	background: url('static/images/iconfont070_2.png') no-repeat center;
}
.common-box-until li#goTop a span b{
	background: url('static/images/iconfont06_2.png') no-repeat center;
}
.common-box-until li#goTop:hover a span b{
	background: url('static/images/iconfont060_2.png') no-repeat center;
}
.common-box-until li#onlineConsulting a span b{
	background: url('static/images/iconfont01_2.png') no-repeat center;
}
.common-box-until li#onlineConsulting:hover a span b{
	background: url('static/images/iconfont010_2.png') no-repeat center;
}
.common-box-until li:hover a i{
	color: #f5a540;
}
.common-box-until li#onlineConsulting:hover .box-bridge{
	left:-163px;
	opacity: 1;
}
.common-box-until li#onlineConsulting.anaimal-bridge a span b{
	background: url('static/images/iconfont010_2.png') no-repeat center;
}
.common-box-until li#onlineConsulting.anaimal-bridge a i{
	color: #f5a540;
}

#boxRight ul li:hover .info{
	opacity: 1 !important;
	right: 70px !important;
	transition: all 0.6s;
}
#boxRight ul li .info{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0;
	padding-right: 20px;
	border-radius: 4px;
}
#boxRight ul li .info div{
	padding: 10px;
	font-size: 14px;
	color: #333333;
	background-color: #fff;
	white-space: nowrap;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
}
#boxRight ul li .info:after{
	content: '';
	display: block;
	width: 8px;
	height: 8px;
	background-color: #fff;
	position: absolute;
	right: 16px;
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
	border:1px solid rgba(255, 255, 255, 0.1);
	border-left: none;
	border-bottom: none;
}
#boxRight ul li .info span{
	font-size: 12px;
	display: block;
	color: #999;
}

.fbLogin{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.4);
	display: none;
	z-index: 1000;
}
.fbLogin .fbLoginMian{
	width: 500px;
	background-color: #ffffff;
	border-radius: 4px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 40px 0;
}
.fbLogin .fbLoginMian .fbLoginTitle{
	padding:0 40px;
}
.fbLogin .fbLoginMian .fbLoginTitle img:nth-of-type(1){
	width: 122px;
	height: 42px;
}
.fbLogin .fbLoginMian .fbLoginTitle img:nth-of-type(2){
	float: right;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.fbLogin .fbLoginMian .fbLoginContent{
	padding: 20px 40px 30px;
	background-color: #fafafa;
	position: relative;
	margin-top: 20px;
}
.fbLogin .fbLoginMian .fbLoginContent > div{
	width: 420px;
	height: 48px;
	background-color: #ffffff;
	border-radius: 4px;
	border: solid 1px #cccccc;
	padding-left: 10px;
}
.fbLogin .fbLoginMian .fbLoginContent > div img{
	width: 26px;
	height: 26px;
	margin-right: 5px;
	position: relative;
	top: -2px;
}
.fbLogin .fbLoginMian .fbLoginContent > div input{
	width: 90%;
	height: 100%;
	border: none;
	outline: none;
	font-size: 14px;
	color: #999;
}
.fbLogin .fbLoginMian .fbLoginContent > div.fbLoginCode{
	margin-top: 28px;
}
.fbLogin .fbLoginMian .fbLoginContent > div.fbLoginCode input{
	width: 60%;
}
.fbLogin .fbLoginMian .fbLoginContent > div.fbLoginCode span{
	display: inline-block;
	width: 30%;
	color: #1183f7;
	text-align: center;
	cursor: pointer;
}
.fbLogin .fbLoginMian .fbLoginContent > p{
	color: #ff4400;
	margin-top: 5px;
	display: none;
}
.fbLogin .fbLoginMian .fbLoginContent > p.phoneError{
	position: absolute;
	top: 66px;
	left: 40px;
}
.fbLoginBtn span{
	display: block;
	width: 420px;
	height: 50px;
	margin:0 auto;
	background-color: #ffda44;
	border-radius: 4px;
	font-size: 16px;
	color: #333333;
	cursor: pointer;
	margin: 30px auto 5px;
	text-align: center;
	line-height: 50px;
}
.fbLoginBtn span:hover{
	background-image: linear-gradient(#ffe366, #ffe366), linear-gradient(#ffda44, #ffda44);
}
.fbLoginBtn p{
	text-align: center;
	color: #999;
}
#_submit_success,#_submit_success02  {position:fixed;top:0px;left:0px;bottom:0px;right:0px;background: rgba(0,0,0,.6);z-index:999999999;}
#_submit_success  .inner,#_submit_success02  .inner {width:600px;height:284px;background: #fff;position:absolute;top:20%;top: calc(50% - 142px);top: -webkit-calc(50% - 142px);top: -moz-calc(50% - 142px);left:25%;left:calc(50% - 300px);left:-webkit-calc(50% - 300px);left:-moz-calc(50% - 300px);border-radius:4px;}
#_submit_success .closed,#_submit_success02 .closed {float: right;margin:20px 20px 0px 0;cursor: pointer;}
#_submit_success .iconL,#_submit_success02 .iconL {margin:55px auto 30px;width:210px;font-size:24px;text-align: right;position:relative}
#_submit_success .iconL > b,#_submit_success02 .iconL > b {display:block;position: absolute;top:5px;left:0px;width:23px;height:23px;}
#_submit_success .iconL > b > img,#_submit_success02 .iconL > b > img {position: absolute;top:1px;left:0px;}
#_submit_success .time,#_submit_success02 .time {font-size:14px;color:#999;text-align:center;padding:0 35px;line-height:23px;height:auto;}
#_submit_success .about-btn a,#_submit_success02 .about-btn a {float:right;margin-right:40px;text-decoration: underline;font-size: 14px;color: #3b98fb;margin-top:10px;}
#_submit_success .anniu,#_submit_success02 .anniu {width:313px;margin:27px auto 20px;}
#_submit_success .anniu > a,#_submit_success02 .anniu > a{display: block;float:left;width:146px;color:#333;text-align:center;border:1px solid #ccc;padding:8px 0;font-size:14px;margin-right:20px;border-radius: 3px;cursor: pointer;}
#_submit_success .anniu .rindex,#_submit_success02 .anniu .rindex {background: #ffda44;border:1px solid #ffda44;margin-right:0px;}
#_submit_success .again,#_submit_success02 .again {width:70px;margin:15px auto 20px;}
#_submit_success .again > a,#_submit_success02 .again > a{display: block;color:#333;text-align:center;background: #ffda44;padding:5px 0;border-radius: 3px;cursor: pointer}

#_submit_error,#_submit_error02  {position:fixed;top:0px;left:0px;bottom:0px;right:0px;background: rgba(0,0,0,.6);z-index:999999999;}
#_submit_error  .inner,#_submit_error02  .inner {width:600px;height:284px;background: #fff;position:absolute;top:20%;top: calc(50% - 142px);top: -webkit-calc(50% - 142px);top: -moz-calc(50% - 142px);left:25%;left:calc(50% - 300px);left:-webkit-calc(50% - 300px);left:-moz-calc(50% - 300px);border-radius:4px;}
#_submit_error .closed,#_submit_error02 .closed {float: right;margin:20px 20px 0px 0;cursor: pointer;}
#_submit_error .iconL,#_submit_error02 .iconL {margin:55px auto 30px;width:210px;font-size:24px;text-align: right;position:relative}
#_submit_error .iconL > b ,#_submit_error02 .iconL > b {display:block;position: absolute;top:5px;left:0px;width:23px;height:23px;}
#_submit_error .iconL > b > img,#_submit_error02 .iconL > b > img {position: absolute;top:1px;left:0px;}
#_submit_error .time,#_submit_error02 .time {font-size:14px;color:#999;text-align:center;padding:0 35px;line-height:23px;height:auto;}
#_submit_error .about-btn a,#_submit_error02 .about-btn a {float:right;margin-right:40px;text-decoration: underline;font-size: 14px;color: #3b98fb;margin-top:10px;}
#_submit_error .anniu,#_submit_error02 .anniu {width:313px;margin:27px auto 20px;}
#_submit_error .anniu > a,#_submit_error02 .anniu > a{display: block;float:left;width:146px;color:#333;text-align:center;border:1px solid #ccc;padding:8px 0;font-size:14px;margin-right:20px;border-radius: 3px;cursor: pointer;}
#_submit_error .anniu .rindex,#_submit_error02 .anniu .rindex {background: #ffda44;border:1px solid #ffda44;margin-right:0px;}
#_submit_error .again,#_submit_error02 .again {width:70px;margin:15px auto 20px;}
#_submit_error .again > a,#_submit_error02 .again > a{display: block;color:#333;text-align:center;background: #ffda44;padding:5px 0;border-radius: 3px;cursor: pointer}

.questionnaireMask{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	background-color: rgba(0,0,0,0.4);
	z-index: 999999;
	overflow: auto;
}
.questionnaireMask .questionnaireMain{
	position: absolute;
	top: 100px;
	left: 50%;
	width: 460px;
	transform: translateX(-50%);
	background-color: #fff;
	padding-bottom: 17px;
	border-radius: 4px;
	margin-bottom: 20px;
}
.questionnaireMask .publishHeader{
	padding: 40px 40px 15px 40px;
	text-align: justify;
}
.questionnaireMask .publishHeader h3{
	font-size: 24px;
	color: #333;
	font-weight: 600;
	/*opacity: 0;*/
}
.questionnaireMask .publishHeader p{
	font-size: 14px;
	color: #f5b940;
	margin-top: 5px;
	/*opacity: 0;*/
}
.questionnaireMask .publistRequest{
	padding: 20px 40px 1px;
	background-color: #fafafa;
	margin-bottom: 30px;
}
.questionnaireMask .publistRequest ul{
	overflow: hidden;
}
.questionnaireMask .publistRequest ul li{
	font-size: 14px;
	color: #666;
	margin-bottom: 15px;
	margin-right: 0px;
	margin-top: 0px;
	float: none;
	padding: 0;
}
.questionnaireMask .publistRequest ul li input[type="radio"]{
	margin-right: 8px;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 16px;
	height: 16px;
	background: url(static/images/radio-default@2x_2.png) no-repeat center;
	background-size: 14px 14px;
	border: 1px solid transparent;
	position: relative;
	top: 3px;
	outline: none;
}
.questionnaireMask .publistRequest ul li input[type="radio"]:checked{
	background: url(static/images/radio-dselected_2.png) no-repeat center;
	background-size: 14px 14px;
}
.questionnaireMask .publistRequest ul li input[type="text"]{
	border: 1px solid #e5e5e5;
	padding-left: 8px;
	font-size: 12px;
	margin-left: 10px;
	height: 24px;
	width: 180px;
}
.submitQuestionnaire span{
	display: block;
	margin:20px auto 5px;
	width: 120px;
	height: 37px;
	text-align: center;
	line-height: 37px;
	background-color: #ffd943;
	font-size: 14px;
	color: #333;
	border-radius: 4px;
	cursor: pointer;
}
.submitQuestionnaire span:hover{
	background-image: linear-gradient(#ffe366, #ffe366), linear-gradient(#ffda44, #ffda44);
}
.submitQuestionnaire p{
	font-size: 12px;
	color: #999999;
	text-align: center;
}
.submitQuestionnaire > div{
	font-size: 12px;
	color: #ff4400;
	margin-bottom: 5px;
	text-align: center;
	display: none;
}
.questionnaireMain .closeBtn{
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	z-index: 99;
}
.questionnaireMain img{
	width: 16px;
	height: 16px;
}

.zbBottom{
	background-color: #3c3c3c;
	padding: 30px 0 40px;
}
.zbBottom .contentBox{
	width: 1170px;
	margin:0 auto;
}
.zbBottom .zbBottomContent .zbBottomTop span{
	display: inline-block;
	margin-right: 20px;
	font-size: 14px;
	text-align: center;
	background-color: #2d2d2d;
	color: #afafaf;
	cursor: pointer;
	padding: 7px 12px;
}
.zbBottom .zbBottomContent .zbBottomTop span.current,.zbBottom .zbBottomContent .zbBottomTop span:hover{
	position: relative;
	color: #fff;
	background-color: #495059;
}
.zbBottomTop .TABbox{
	margin-top: 20px;
}
.zbBottomTop .TABbox ul{
	overflow: hidden;
}
.zbBottomTop .TABbox ul li{
	float: left;
	margin-right: 14px;
	margin-bottom: 10px;
}
.zbBottomTop .TABbox ul li a{
	font-size: 12px;
	color: #ccc;
}
.zbBottomTop .TABbox ul li a:hover{
	color: #fff;
}
.zbBottomTop .TABbox.TABbox1{
	display: none;
}
.zbBottom .zbBottomContent .lineBorder{
	border-top:1px solid #666;
	opacity: 0.6;
	margin: 10px 0 30px;
}
.zbBottom .zbBottomContent .zbtabList{
	margin-bottom: 20px;
}
.zbBottom .zbBottomContent .zbtabList ul{
	overflow: hidden;
}
.zbBottom .zbBottomContent .zbtabList ul li{
	float: left;
}
.zbBottom .zbBottomContent .zbtabList ul a{
	height: 16px;
	color: #fff;
	font-size: 14px;
}
.zbBottom .zbBottomContent .zbtabList ul a:hover{
	color: #fff;
}
.zbBottom .zbBottomContent .zbtabList ul li i {
	display: inline-block;
	margin: 0 19px;
	width: 1px;
	height: 12px;
	background-color: #666;
	position: relative;
	top: 2px;
}
.phoneCode p{
	font-size: 24px;
	color: #ccc;
}
.phoneCode p img{
	width: 30px;
	height: 24px;
	margin-right: 10px;
	position: relative;
	top: -4px;
}
.phoneCode p span{
	font-size: 12px;
	margin-left: 8px;
}
.phoneCode div{
	margin-top: 20px;
	font-size: 12px;
	color: #ccc;
}
.zbBottomContent .poi{
	position: relative;
}
.qcodeBTM{
	position: absolute;
	right: 0;
	top: 0px;
}
.qcodeBTM dl{
	float: left;
	margin-left: 30px;
}
.qcodeBTM dl dt{
	width: 102px;
	height: 102px;
	margin-bottom: 9px;
}
.qcodeBTM dl dd{
	text-align: center;
	color: #ccc;
	font-size: 12px;
}
.fbLogin{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.4);
	display: none;
	z-index: 1000;
}
.fbLogin .fbLoginMian{
	width: 500px;
	background-color: #ffffff;
	border-radius: 4px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 40px 0;
}
.fbLogin .fbLoginMian .fbLoginTitle{
	padding:0 40px;
}
.fbLogin .fbLoginMian .fbLoginTitle img:nth-of-type(1){
	width: 122px;
	height: 42px;
}
.fbLogin .fbLoginMian .fbLoginTitle img:nth-of-type(2){
	float: right;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.fbLogin .fbLoginMian .fbLoginContent{
	padding: 20px 40px 30px;
	background-color: #fafafa;
	position: relative;
	margin-top: 20px;
}
.fbLogin .fbLoginMian .fbLoginContent > div{
	width: 420px;
	height: 48px;
	background-color: #ffffff;
	border-radius: 4px;
	border: solid 1px #cccccc;
	padding-left: 10px;
}
.fbLogin .fbLoginMian .fbLoginContent > div img{
	width: 26px;
	height: 26px;
	margin-right: 5px;
	position: relative;
	top: -2px;
}
.fbLogin .fbLoginMian .fbLoginContent > div input{
	width: 90%;
	height: 96%;
	border: none !important;
	outline: none;
	font-size: 14px;
	color: #999;
}
#publishLogin .fbLoginMian .fbLoginContent > div input:focus{
	border: none !important;
}
.fbLogin .fbLoginMian .fbLoginContent > div.fbLoginCode{
	margin-top: 28px;
}
.fbLogin .fbLoginMian .fbLoginContent > div.fbLoginCode input{
	width: 60%;
}
.fbLogin .fbLoginMian .fbLoginContent > div.fbLoginCode span{
	display: inline-block;
	width: 30%;
	color: #1183f7;
	text-align: center;
	cursor: pointer;
}
.fbLogin .fbLoginMian .fbLoginContent > p{
	color: #ff4400;
	margin-top: 5px;
	display: none;
}
.fbLogin .fbLoginMian .fbLoginContent > p.phoneError{
	position: absolute;
	top: 66px;
	left: 40px;
}
.fbLoginBtn span{
	display: block;
	width: 420px;
	height: 50px;
	margin:0 auto;
	background-color: #ffda44;
	border-radius: 4px;
	font-size: 16px;
	color: #333333;
	cursor: pointer;
	margin: 30px auto 5px;
	text-align: center;
	line-height: 50px;
}
.fbLoginBtn span:hover{
	background-image: linear-gradient(#ffe366, #ffe366), linear-gradient(#ffda44, #ffda44);
}
.fbLoginBtn p{
	text-align: center;
	color: #999;
}